# "Working with Pandas"
> "Using Pandas to get some summary statistics on housing listing data."

- toc: false
- badges: true
- comments: true
- author: Antonio Jurlina
- categories: [learning, python]

In [273]:
import pandas as pd
import numpy as np
import datetime as dt
import os

os.chdir('/Users/antoniojurlina/Projects/learning_python/data/')

data=pd.read_csv('RDC_Inventory_Core_Metrics_State_History.csv')

data.head()

,month_date_yyyymm,state,state_id,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,median_days_on_market,...,median_square_feet_yy,average_listing_price,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy
0,202101,delaware,de,358050.0,0.0258,0.1002,1582,-0.1558,-0.5609,91.0,...,-0.0133,488354,0.0395,0.1432,4059,-0.1368,0.0305,1.5657,0.0567,1.4725
1,202101,idaho,id,465040.0,0.0816,0.2433,1817,-0.1881,-0.6908,66.0,...,-0.0427,977816,0.1570,0.6033,5554,-0.1156,-0.1471,2.0567,0.2506,1.9486
2,202101,arizona,az,419050.0,0.0771,0.1403,8212,-0.1487,-0.5687,46.0,...,-0.0405,758396,0.1329,0.2679,22191,-0.1257,-0.2780,1.7023,0.0710,1.0878
3,202101,north dakota,nd,235050.0,-0.0053,0.0444,1992,-0.1487,-0.2949,92.0,...,-0.0105,281329,0.0055,0.0382,2732,-0.1319,-0.1658,0.3715,0.0266,0.2122
4,202101,maryland,md,349050.0,0.0205,0.0579,6885,-0.1406,-0.5358,59.0,...,-0.0927,521490,0.0423,0.1250,17332,-0.1330,0.0193,1.5174,0.0219,1.3708

In [274]:
columns = data.columns[0:12]

data = data[columns]

data['month_date_yyyymm'] = pd.to_datetime(data['month_date_yyyymm'], format='%Y%m')

data = data.rename(columns={'month_date_yyyymm': 'date', 
                            'state': 'state',
                            'state_id': 'id',
                            'median_listing_price': 'mlp', 
                            'median_listing_price_mm': 'mlp_mm', 
                            'median_listing_price_yy': 'mlp_yy', 
                            'active_listing_count': "alc", 
                            'active_listing_count_mm': "alc_mm", 
                            'active_listing_count_yy': "alc_yy", 
                            'median_days_on_market': 'mdom',
                            'median_days_on_market_mm': 'mdom_mm',
                            'median_days_on_market_yy': 'mdom_yy',})

data['year'] = data['date'].dt.strftime('%Y')
data['month'] = data['date'].dt.strftime('%m')

data = data[(data['year'] != '2016') & (data['year'] != '2021')]

data.head()

,date,state,id,mlp,mlp_mm,mlp_yy,alc,alc_mm,alc_yy,mdom,mdom_mm,mdom_yy,year,month
51,2020-12-01,west virginia,wv,165050.0,-0.0251,0.0036,3975,-0.0693,-0.4563,85.0,0.0897,-0.2308,2020,12
52,2020-12-01,nevada,nv,350049.0,0.0000,0.0449,8290,-0.1076,-0.2799,51.5,0.1705,-0.2137,2020,12
53,2020-12-01,north dakota,nd,236300.0,-0.0154,0.0477,2340,-0.0707,-0.2769,87.5,0.1513,-0.1250,2020,12
54,2020-12-01,iowa,ia,214950.0,0.0000,0.1008,8690,-0.0990,-0.3749,77.0,0.1000,-0.0833,2020,12
55,2020-12-01,arizona,az,389050.0,-0.0019,0.1116,9646,-0.1391,-0.5272,46.0,0.0952,-0.2640,2020,12

**(1)** Computing the differences for the 3 variables (median listing price, active listing count, days on the market) between 2020 and (2019, 2018, and 2017).

In [275]:
columns = ['month', 'state', 'mlp', 'alc', 'mdom']

data_2017 = data[data['year'] == '2017'][columns].reset_index(drop = True)
data_2018 = data[data['year'] == '2018'][columns].reset_index(drop = True)
data_2019 = data[data['year'] == '2019'][columns].reset_index(drop = True)
data_2020 = data[data['year'] == '2020'][columns].reset_index(drop = True)

d1 = data_2020.set_index(['state', 'month']) - data_2019.set_index(['state', 'month'])
d2 = data_2020.set_index(['state', 'month']) - data_2018.set_index(['state', 'month'])
d3 = data_2020.set_index(['state', 'month']) - data_2017.set_index(['state', 'month'])

d1['year'] = '2020-2019'
d2['year'] = '2020-2018'
d3['year'] = '2020-2017'

output = pd.concat([d1, d2, d3], axis = 0)

del(d1, d2, d3)

output.reset_index().set_index(['year', 'state', 'month'])

                             mlp   alc  mdom
year      state   month
2020-2019 alabama 01     20925.0 -3646 -10.0
                  02     19550.0 -3783 -11.0
                  03     17400.0 -3988 -16.0
                  04     14550.0 -3877  -2.0
                  05     13662.0 -4751   4.5
...                          ...   ...   ...
2020-2017 wyoming 08     42500.0 -2191 -16.5
                  09     33500.0 -2374 -29.0
                  10     30000.0 -2304 -33.5
                  11     23550.0 -2053 -37.0
                  12     20000.0 -1929 -42.0

[1836 rows x 3 columns]

**(2)** Computing the difference between the means of these variables for the previous three years and 2020.

In [302]:
columns = ['mlp', 'alc', 'mdom']

d1 = data_2020[columns].mean() - data_2019[columns].mean()
d2 = data_2020[columns].mean() - data_2018[columns].mean()
d3 = data_2020[columns].mean() - data_2017[columns].mean()

pd.concat([pd.DataFrame(d1.round(2), columns = ['2020-2019']),
           pd.DataFrame(d2.round(2), columns = ['2020-2018']), 
           pd.DataFrame(d3.round(2), columns = ['2020-2017'])], 
          axis = 1)

      2020-2019  2020-2018  2020-2017
mlp    21696.86   36497.36   53650.75
alc    -6949.50   -7292.57   -8271.04
mdom      -4.93      -6.44     -11.06

For the data and other notebooks, see [github.com/antoniojurlina/learning_python](https://github.com/antoniojurlina/learning_python).